{% extends 'base.html'%}
{% block title %} Bosh sahifa {% endblock title%}

{% block content %}
{% if user.is_authenticated %}
{{user.username }}
<p class="mt-5"><a  href="{% url 'logout' %}">chiqip ketish</a></p>
<a href="{% url 'article_list'%}"><button type="button" class="btn btn-primary">Postlarga o'tish</button></a>
{% else %}

<P>saytga kirmagansiz</P>
<a class="mt-5" href="{% url 'login'%}">Kirish</a>
<a class="mt-5" href="{% url 'signup' %}">Ro'yhatdan utish </a>

{% endif %}
{% endblock content %}